<header class="header">
  <%= link_to image_tag("logo.png", class:"RopeWay-icon"), "/" %>
  <div class="menu-list">
    <div class="menu">RopeWayとは</div>
    <div class="menu">トークルーム</div>
    <% if user_signed_in? %>
      <div class="menu">
        <%= link_to("マイページ", "/profiles/#{current_user.id}") %>
      </div>
      <div class="menu">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="menu">
        <%= link_to "ログイン", new_user_session_path %>
      </div>
      <div class="menu">
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    <% end %>
  </div>
</header>